page-subscribe {

  .title-container {
    vertical-align: middle;
  }

  .title {
    padding-top: 0px;
    margin-top: 0px;
  }

  .crown {
    width: 50px;
    height: 40px;
    padding-bottom: 0px;
  }

  .padh-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

}