<ion-header>

  <ion-navbar [hideBackButton]="true">
    <ion-buttons start>
      <button ion-button icon-only clear small (click)="ok()" color="secondary" *ngIf="!isLoading">
        <ion-icon name="checkmark"></ion-icon>
      </button>
      <ion-spinner *ngIf="isLoading"></ion-spinner>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list>
      <ion-list-header>
        {{'PROFILE_DNAME' | translate}}
      </ion-list-header>
      <ion-item>
        <ion-input formControlName="dname"></ion-input>
      </ion-item>
      <ion-list-header>
        {{'LANGUAGE_I_SPEAK' | translate}}
      </ion-list-header>
      <ion-item no-lines>
        <ion-segment formControlName="motherLanguage" mode="ios">
          <ion-segment-button value="FA_IR">
            <span class="flag-icon flag-icon-ir"></span>
            {{'MOTHER_PERSIAN' | translate}}</ion-segment-button>
          <ion-segment-button value="EN_GB">
            {{'MOTHER_ENGLISH' | translate}}
            <span class="flag-icon flag-icon-gb"></span>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
      <ion-list-header>
        {{'LANGUAGE_I_LEARN' | translate}}
      </ion-list-header>
      <ion-item no-lines>
        <ion-segment formControlName="targetLanguage" mode="ios">
          <ion-segment-button value="EN_GB">
            {{'LANG_ENGLISH' | translate}}
            <span class="flag-icon flag-icon-gb"></span>
          </ion-segment-button>
          <ion-segment-button value="DE_DE">
            {{'LANG_GERMAN' | translate}}
            <span class="flag-icon flag-icon-de"></span>
          </ion-segment-button>
          <ion-segment-button value="BETA">
            {{'LANG_BETA' | translate}}
            <ion-icon name="build"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
      <ion-list-header *ngIf="showBetaLangs" class="beta-header">
        <ion-note color="danger"> {{'LANG_BETA_HEADER' | translate}}</ion-note>
        <ion-spinner *ngIf="betaCompletedPercentageIsInProgress"></ion-spinner>
        <span *ngIf="!betaCompletedPercentageIsInProgress">{{betaCompletedPercentage}}</span>
      </ion-list-header>
      <ion-item  *ngIf="showBetaLangs">
        <ion-segment [(ngModel)]="betaLanguage" mode="ios" *ngFor="let i of betaLanguageRows" [ngModelOptions]="{standalone: true}">
          <ng-container *ngFor="let lang of betaLanguages | slice:(i*3):(i+1)*3">
            <ion-segment-button value="{{lang.value}}" (click)="betaLanguageClicked(lang.value)" [style.text-align]="isRTL ? 'right': 'left'">
              <span class="flag-icon flag-icon-{{lang.flag}}"></span>
              {{lang.translateKey | translate}}
            </ion-segment-button>
          </ng-container>
        </ion-segment>
      </ion-item>
      <ion-list-header>
        {{'LEVEL_DIFFICULTY' | translate}}
      </ion-list-header>
      <ion-item no-lines>
        <ion-segment formControlName="difficultyLevel" mode="ios">
          <ion-segment-button value="Beginner">
            <ion-icon name="ios-text{{form.value.difficultyLevel !== 'Beginner' ? '-outline' : ''}}"></ion-icon>
            {{'LEVEL_BEGINNER' | translate}}
          </ion-segment-button>
          <ion-segment-button value="Intermediate">
            <ion-icon name="ios-chatbubbles{{form.value.difficultyLevel !== 'Intermediate' ? '-outline' : ''}}"></ion-icon>
            {{'LEVEL_INTERMEDIATE' | translate}}
          </ion-segment-button>
          <ion-segment-button value="Advanced">
            <ion-icon name="ios-chatboxes{{form.value.difficultyLevel !== 'Advanced' ? '-outline' : ''}}"></ion-icon>
            {{'LEVEL_ADVANCED' | translate}}
          </ion-segment-button>
        </ion-segment>
      </ion-item>
      <ion-item-divider>
      </ion-item-divider>
      <button ion-item full (click)="ok()" color="secondary" [disabled]="isLoading">
        <ion-icon name="checkmark"></ion-icon>
        {{'SAVE' | translate}}
      </button>
    </ion-list>
  </form>

</ion-content>