page-category-lesson {

  .slide-title {
    margin-top: 2.8rem;
    font-size: 2em;
  }

  .slide-nol {
    font-size: 3em;
  }

  .swiper-pagination-bullet {
    width: 2em;
    height: 2em;
    color: white;
  }

  .button-group {
    ion-col {
      &:first-child:not(:last-child) {
        @include ltr() {
          padding-right: 0;
          .button {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
        @include rtl() {
          padding-left: 0;
          .button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }
      &:not(:first-child):not(:last-child) {
        padding-right: 0;
        padding-left: 0;
        .button {
          border-radius: 0;
        }
      }
      &:last-child:not(:first-child) {
        @include ltr() {
          padding-left: 0;
          .button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
        @include rtl() {
          padding-right: 0;
          .button {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }
    }
  }
}