<ion-header no-padding>
  <ion-navbar [hideBackButton]="true" no-padding>
    <ion-toolbar no-padding>
      <ion-grid>
        <ion-row>
          <ion-col col-auto>
            <span *ngFor="let i of [5, 4, 3, 2, 1]">
              <ion-icon name="star" color="gold" *ngIf="i > noWrong" style="zoom:1.2;"></ion-icon>
              <ion-icon name="star-outline" color="gold" *ngIf="i <= noWrong" style="zoom:1.2;"></ion-icon>
            </span>
          </ion-col>
          <ion-col col-auto>
            <progress [max]="questions.length" [value]="questionCounter-1"></progress>
          </ion-col>
          <ion-col col-1>
            <button ion-button icon-only clear small (click)="exit()" [style.color]="isAuthenticated()? 'black' : 'red'">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <section class="question-container">
    <div class="quesiton-part">
      <div [class.alert-success]="wasCorrect" [class.alert-error]="wasWrong" style="padding: 5px; border: 1px solid transparent; border-radius: 16px; align-items: center;">
        <span class="float-left">
          <button ion-button icon-only clear color="dark" (click)="speak()">
            <ion-icon name="repeat"></ion-icon>
          </button>
        </span>
        <span class="float-right">
          <button ion-button icon-only clear color="dark" (click)="showHelp()" *ngIf="!wasWrong && !wasCorrect">
            <ion-icon name="help-buoy"></ion-icon>
          </button>
          <button ion-button icon-only clear color="dark" *ngIf="wasCorrect">
            <ion-icon name="happy"></ion-icon>
          </button>
          <button ion-button icon-only clear color="dark" *ngIf="wasWrong">
            <ion-icon name="sad"></ion-icon>
          </button>
        </span>
        <p [class.dir-rtl]="lesson.isFromLangRTL()">&nbsp; {{question.description}}</p>
      </div>
      <div *ngIf="isNotTypes(['TwoPicture', 'FourPicture'])"
          [class.dir-rtl]="lesson.isFromLangRTL() && question.d.reverse" class="question-question">
          {{question.d.question}}
      </div>
      <div *ngIf="isType('TwoPicture')"
          [class.dir-rtl]="lesson.isFromLangRTL() && question.d.reverse" class="question-question">
          {{question.d.correct.hint}}
      </div>
      <div *ngIf="isType('FourPicture')"
          [class.dir-rtl]="lesson.isFromLangRTL() && question.d.reverse" class="question-question">
          {{question.d.pics[fourPictureCorrectIndex].hint}}
      </div>
      <!-- <div *ngIf="wasWrong && isNotTypes(['TwoPicture', 'FourPicture', 'MultiSelect', 'OneCheck'])" class="alert alert-info" [class.dir-rtl]="lesson.isFromLangRTL() && !question.d.reverse">
        {{rightAnswerString}}
      </div> -->

      <div *ngIf="isType('OneCheck')">
        <ion-card [class.dir-rtl]="lesson.isFromLangRTL() && !question.d.reverse">
          <ion-list radio-group>
            <span *ngFor="let choice of choices; let i = index;">
              <ion-item text-wrap [class.alert-success]="wasCorrect && choice.isCorrect" *ngIf="(!wasWrong && !wasCorrect) || choice.isCorrect">
                <ion-label (click)="oneChecked(i)">{{choice.text}}</ion-label>
                <ion-radio value="{{choice.text}}" (click)="oneChecked(i)"></ion-radio>
              </ion-item>
            </span>
          </ion-list>
        </ion-card>
      </div>

      <div *ngIf="isType('MultiSelect')">
        <div class="answer-background">
          <div padding [class.dir-rtl]="lesson.isFromLangRTL() && !question.d.reverse" [class.alert-success]="wasCorrect">
            <span class="answer" *ngFor="let chosen of chosens; let i = index;" (click)="moveBackToOptions(chosen)">
              <button class="answer-contents" id="chosen-{{i}}">{{chosen.text}}</button>
            </span>
          </div>
        </div>
        <div padding [class.dir-rtl]="lesson.isFromLangRTL() && !question.d.reverse">
          <span class="answer answer-container" *ngFor="let option of options; let i = index;" (click)="moveToChosen(option)">
            <button class="answer-contents" id="option-{{i}}">{{option.text}}</button>
          </span>
        </div>
      </div>

      <div *ngIf="isType('TwoPicture')">
        <ion-grid text-center>
          <ion-row text-center (click)="twoPictureSelected(0)"
                               [class.alert-warning]="twoPictures[0].answered && !wasCorrect && !wasWrong"
                               [class.alert-success]="wasCorrect && twoPictures[0].answered"
                               *ngIf="(!wasWrong && !wasCorrect) || twoPictureCorrectIndex === 0">
            <ion-col col-3></ion-col>
            <ion-col col-6>
              <div class="relative-flex-1" id="{{twoPictures[0].answer}}_0">
                <img [src]="resolveImageUrl(twoPictures[0].name)" class="z_index_0"/>
                <button ion-button full small clear color="dark">{{twoPictures[0].answer}}</button>
              </div>
            </ion-col>
            <ion-col col-3></ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col>
              <div text-center>
                <button ion-button color="primary" class="button-for-two-picture" id="twoPictureButton" name="{{question.d.correct.answer}}_{{twoPictureCorrectIndex}}">
                  {{question.d.correct.hint}}
                </button>
              </div>
            </ion-col>
          </ion-row> -->
          <ion-row (click)="twoPictureSelected(1)"
                   [class.alert-warning]="twoPictures[1].answered  && !wasCorrect && !wasWrong"
                   [class.alert-success]="wasCorrect && twoPictures[1].answered"
                   *ngIf="(!wasWrong && !wasCorrect) || twoPictureCorrectIndex === 1">
            <ion-col col-3></ion-col>
            <ion-col col-6>
              <div class="relative-flex-1" id="{{twoPictures[1].answer}}_1">
                <img [src]="resolveImageUrl(twoPictures[1].name)" class="z_index_0"/>
                <button ion-button full small clear color="dark">{{twoPictures[1].answer}}</button>
              </div>
            </ion-col>
            <ion-col col-3></ion-col>

          </ion-row>
        </ion-grid>
      </div>

      <div *ngIf="isType('FourPicture')">
        <ion-grid text-center>
          <ion-row>
            <ion-col col-6 (click)="fourPictureSelected(0)"
                    [class.alert-warning]="question.d.pics[0].answered  && !wasCorrect && !wasWrong"
                    [class.alert-success]="question.d.pics[0].answered && wasCorrect"
                    *ngIf="(!wasWrong && !wasCorrect) || fourPictureCorrectIndex === 0">
              <div class="relative-flex-1">
                <img [src]="resolveImageUrl(question.d.pics[0].name)" class="z_index_0"/>
                <button ion-button full small clear color="dark">{{question.d.pics[0].answer}}</button>
              </div>
            </ion-col>
            <ion-col col-6 (click)="fourPictureSelected(1)"
                    [class.alert-warning]="question.d.pics[1].answered  && !wasCorrect && !wasWrong"
                    [class.alert-success]="question.d.pics[1].answered && wasCorrect"
                    *ngIf="(!wasWrong && !wasCorrect) || fourPictureCorrectIndex === 1">
              <div class="relative-flex-1">
                <img [src]="resolveImageUrl(question.d.pics[1].name)" class="z_index_0"/>
                <button ion-button full small clear color="dark">{{question.d.pics[1].answer}}</button>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6 (click)="fourPictureSelected(2)"
                    [class.alert-warning]="question.d.pics[2].answered  && !wasCorrect && !wasWrong"
                    [class.alert-success]="question.d.pics[2].answered && wasCorrect"
                    *ngIf="(!wasWrong && !wasCorrect) || fourPictureCorrectIndex === 2">
              <div class="relative-flex-1">
                <img [src]="resolveImageUrl(question.d.pics[2].name)" class="z_index_0"/>
                <button ion-button full small clear color="dark">{{question.d.pics[2].answer}}</button>
              </div>
            </ion-col>
            <ion-col col-6 (click)="fourPictureSelected(3)"
                    [class.alert-warning]="question.d.pics[3].answered  && !wasCorrect && !wasWrong"
                    [class.alert-success]="question.d.pics[3].answered && wasCorrect"
                    *ngIf="(!wasWrong && !wasCorrect) || fourPictureCorrectIndex === 3">
              <div class="relative-flex-1">
                <img [src]="resolveImageUrl(question.d.pics[3].name)" class="z_index_0"/>
                <button ion-button full small clear color="dark">{{question.d.pics[3].answer}}</button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </div>
  </section>
  <div style="position: absolute; bottom: 0px; width: 100%">
    <button ion-button full color="secondary"
            *ngIf="!wasWrong"
            [disabled]="!isAnswered() || isChecking" (click)="check()">
      {{'CHECK' | translate}}
    </button>
    <button ion-button full color="secondary"
            *ngIf="wasWrong" (click)="continue()">
      {{'CONTINUE' | translate}}
    </button>
  </div>
</ion-content>