page-lesson-question {
  .question-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .question-part {
    flex: 1 90%;
  }

  .question-button {
    flex: 1 10%;
    z-index: 100;
  }

  .question-question {
    font-size: 1.2em;
    padding-left: 2em;
    padding-right: 2em;
  }

  .answer-background {
    background-color: rgba(0, 0, 255, 0.05);
    border-radius: 5px;
    min-height: 200px;
  }

  @media (max-width: 320px) {
    .answer-background {
      min-height: 100px;
    }
  }

  @media (max-width: 360px) {
    .answer-background {
      min-height: 100px;
    }
  }

  .answer {
    line-height: 30px;
  }

  /* same as button but without position:relative; Note: CSS Override didn't worked -> position: static !important;*/
  .answer-contents {
    border-color: transparent;
    background-color: #f8f8f8;
    color: #444;
    display: inline-block;
    margin: 2px 0;
    padding: 2px;
    min-width: 52px;
    min-height: 47px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 1.2em;
    line-height: 30px;
    cursor: pointer;
  }

  .answer-contents.ng-anchor {
    z-index: 10;
  }

  /* Contents are cloned and position transitioned between the lists */
  .answer-contents.ng-anchor-out {
    /* No "out" transition: the item moving accross the page is exactly how it
       appears in the source location */
  }
  .answer-contents.ng-anchor-in {
    transition: 0.2s linear all;
  }

  /* The item height is transitioned so space appears/disappears gradually in each list */
  .answer.ng-enter {
    transition:0.1s linear all;
    height: 0;
  }

  .answer.ng-enter.ng-enter-active {
    height: 30px;
  }

  .answer.ng-leave {
    transition: 0.1s linear all;
    height: 30px;
  }

  .answer.ng-leave.ng-leave-active {
    height: 0;
  }
  .answer-background {
    background-color: rgba(0, 0, 255, 0.05);
    border-radius: 5px;
    min-height: 200px;
  }

  @media (max-width: 320px) {
    .answer-background {
      min-height: 100px;
    }
  }

  @media (max-width: 360px) {
    .answer-background {
      min-height: 100px;
    }
  }

  .answer {
    line-height: 30px;
  }

  /* same as button but without position:relative; Note: CSS Override didn't worked -> position: static !important;*/
  .answer-contents {
    border-color: transparent;
    background-color: #f8f8f8;
    color: #444;
    display: inline-block;
    margin: 2px 0;
    padding: 2px;
    min-width: 52px;
    min-height: 47px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 1.2em;
    line-height: 30px;
    cursor: pointer;
  }

  .answer-contents.ng-anchor {
    z-index: 10;
  }

  /* Contents are cloned and position transitioned between the lists */
  .answer-contents.ng-anchor-out {
    /* No "out" transition: the item moving accross the page is exactly how it
       appears in the source location */
  }
  .answer-contents.ng-anchor-in {
    transition: 0.2s linear all;
  }

  /* The item height is transitioned so space appears/disappears gradually in each list */
  .answer.ng-enter {
    transition:0.1s linear all;
    height: 0;
  }

  .answer.ng-enter.ng-enter-active {
    height: 30px;
  }

  .answer.ng-leave {
    transition: 0.1s linear all;
    height: 30px;
  }

  .answer.ng-leave.ng-leave-active {
    height: 0;
  }

  .relative-flex-1 {
    align-content: center;
    postion: relative;
    flex: 1;
  }

  .relative-flex-1 img {
    width: 100%;
    min-height: 20%;
    width: 100vw;
    height: 20vh;
    object-fit: cover;
  }

  .button-for-four-picture {
    z-index: 101;
    min-width: 45vw;
  }

  .button-fp-answered {
    position: absolute;
    bottom:50px;
    opacity: 0.8;
  }

  .button-fp-hint {
    position: absolute;
    bottom: 0px;
    opacity: 0.9;
  }

  .button-fp-answered.button-full,
  .button-fp-hint.button-full {
    margin-bottom: 0px !important;
  }

  .button-for-two-picture {
    position: relative;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    padding: 0 !important;
    margin: 0 !important;
    z-index: 101;
    min-width: 45vw;
  }

  padding-sides {
    padding-left: 16px;
    padding-right: 16px;
  }

}
