<ion-header no-padding>
  <ion-navbar [hideBackButton]="true" no-padding>
    <ion-toolbar no-padding>
      <ion-grid>
        <ion-row>
          <ion-col col-auto>
            <span *ngFor="let i of [5, 4, 3, 2, 1]">
              <ion-icon name="star" color="gold" *ngIf="i > noWrong" style="zoom:1.2;"></ion-icon>
              <ion-icon name="star-outline" color="gold" *ngIf="i <= noWrong" style="zoom:1.2;"></ion-icon>
            </span>
          </ion-col>
          <ion-col>
            <progress [max]="noTotal" [value]="questionCounter-1" style="width: inherit"></progress>
          </ion-col>
          <ion-col col-1>
            <button ion-button icon-only clear small (click)="exit()" [style.color]="principal.isAuthenticated()? 'black' : 'red'">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content scrollDownOnLoad="true">
  <div class="question-container">
    <div class="question-part">
      <div [class.alert-success]="wasCorrect && !wasAlmostCorrect"
           [class.alert-warning]="wasCorrect && wasAlmostCorrect"
           [class.alert-error]="wasWrong" style="padding: 5px; border: 1px solid transparent; border-radius: 16px; align-items: center;">
        <span class="float-left">
          <button ion-button icon-only clear color="dark" (click)="speak()" longPress (long-press)="autoPlayVoiceReverse()">
            <ion-icon name="megaphone" *ngIf="autoPlayVoice"></ion-icon>
            <ion-icon name="ios-megaphone-outline" *ngIf="!autoPlayVoice"></ion-icon>
          </button>
        </span>
        <span class="float-right">
          <button ion-button icon-only clear color="dark" (click)="showHelp($event)" *ngIf="!wasWrong && !wasCorrect">
            <ion-icon name="help-buoy"></ion-icon>
          </button>
          <button ion-button icon-only clear color="dark" *ngIf="wasCorrect && !wasAlmostCorrect">
            <ion-icon name="happy"></ion-icon>
          </button>
          <button ion-button icon-only clear color="dark" *ngIf="wasCorrect && wasAlmostCorrect">
            <ion-icon name="ionitron"></ion-icon>
          </button>
          <button ion-button icon-only clear color="dark" *ngIf="wasWrong">
            <ion-icon name="sad"></ion-icon>
          </button>
        </span>
        <p [class.dir-rtl]="isRTL"
           [class.dir-ltr]="!isRTL">&nbsp; {{description | translate}}</p>
      </div>
      <div *ngIf="question && isNotTypes(['Conversation', 'Words']) && (!question.d.listen || isInContinueState)" (click)="speak()"
          [class.dir-rtl]="lesson.isClassRTL(question.d.reverse)"
          [class.dir-ltr]="lesson.isClassLTR(question.d.reverse)" class="question-question">
          {{questionFace}}
      </div>
      <div *ngIf="(wasWrong || wasAlmostCorrect) && isNotTypes(['TwoPicture', 'FourPicture', 'OneCheck', 'Conversation', 'Words', 'Speaking'])" class="alert alert-info"
          [class.dir-rtl]="lesson.isClassRTL(!question.d.reverse)"
          [class.dir-ltr]="lesson.isClassLTR(!question.d.reverse)" (click)="speak()">
        {{rightAnswerString}}
      </div>

      <div *ngIf="isType('Words')">
        <div swing-stack #myswing1 [stackConfig]="stackConfig" id="card-stack"
            (throwoutleft)="voteUp(false)" (throwoutright)="voteUp(true)">
          <ion-card swing-card #mycards1 *ngFor="let word of cards; let i = index;">
            <ion-row text-center center padding>
              <ion-col>
                <ion-icon name="ios-arrow-back" class="float-right" style="padding-top: 1.5em" *ngIf="isRTL"></ion-icon>
                <ion-icon name="ios-arrow-back" class="float-left" style="padding-top: 1.5em" *ngIf="!isRTL"></ion-icon>
                <button ion-button large icon-end (click)="voteUp(isRTL ? true : false)" color="light" [ngStyle]="{'background-color' : leftBackgroundColor}">
                  {{word.option1}}
                </button>
              </ion-col>
            </ion-row>
            <ion-row text-center center>
              <ion-col>
                <button ion-button large full color="primary" style="clear:both" (click)="speak()">
                  {{word.question}}
                </button>
              </ion-col>
            </ion-row>
            <ion-row text-center center padding>
              <ion-col (click)="voteUp(true)">
                <button ion-button large icon-end (click)="voteUp(isRTL ? false : true)" color="light" [ngStyle]="{'background-color' : rightBackgroundColor}">
                  {{word.option2}}
                </button>
                <ion-icon name="ios-arrow-forward" class="float-left" style="padding-top: 1.5em" *ngIf="isRTL"></ion-icon>
                <ion-icon name="ios-arrow-forward" class="float-right" style="padding-top: 1.5em" *ngIf="!isRTL"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card>
          <ion-card *ngIf="wasWrong || wasCorrect">
            <ion-row text-center center padding>
              <ion-col>
                <button ion-button large icon-end [disabled]="true"
                  color="{{ wasWrong && !words[questionCounter-1].isAnswerRight(false) ? 'danger' : wasCorrect && words[questionCounter-1].isAnswerRight(false) ? 'secondary' : 'light'}}">
                  {{words[questionCounter-1].option1}}
                </button>
              </ion-col>
            </ion-row>
            <ion-row text-center center>
              <ion-col>
                <button ion-button large full color="primary" style="clear:both" (click)="speak()">
                  {{words[questionCounter-1].question}}
                </button>
              </ion-col>
            </ion-row>
            <ion-row text-center center padding>
              <ion-col>
                <button ion-button large icon-end [disabled]="true"
                  color="{{ wasWrong && !words[questionCounter-1].isAnswerRight(true) ? 'danger' : wasCorrect && words[questionCounter-1].isAnswerRight(true) ? 'secondary' : 'light'}}">
                  {{words[questionCounter-1].option2}}
                </button>
              </ion-col>
            </ion-row>
          </ion-card>
        </div>
      </div>

      <div *ngIf="isType('Conversation')">
        <div *ngFor="let answer of question.d.options; let i = index;">
          <div *ngIf="i < questionCounter" style="overflow: scroll;">
            <div [class.float-left]="i % 2 == 0" [class.float-right]="i % 2 == 1" class="alert"
                 [class.alert-info]="i % 2 == 0" [class.alert-warning]="i % 2 == 1" style="width: 80%" (click)="speak(question.targetOptions[i].text)">
              <div [class.dir-ltr]="lesson.isTargetLangLTR()"   [class.dir-rtl]="!lesson.isTargetLangLTR()"
                   [class.text-left]="lesson.isTargetLangLTR()" [class.text-right]="!lesson.isTargetLangLTR()"
                   [class.text-unclear]="i === questionCounter-1 && !isChecking"
                  *ngIf="question.targetOptions[i]">{{question.targetOptions[i].text}}</div>
              <div [class.dir-ltr]="!lesson.isMotherLangRTL()" [class.dir-rtl]="lesson.isMotherLangRTL()"
                   [class.text-left]="!lesson.isMotherLangRTL()" [class.text-right]="lesson.isMotherLangRTL()"
                  *ngIf="question.motherOptions[i]">{{question.motherOptions[i].text}}</div>
            </div>
          </div>
        </div>
        <div  padding style="clear:both">
          <br />
          <div *ngIf="speakingAnswerDiff" class="alert"
               [class.alert-success]="wasCorrect"
               [class.alert-error]="wasWrong"
               [class.dir-ltr]="lesson.isTargetLangLTR()"   [class.dir-rtl]="!lesson.isTargetLangLTR()"
               [class.text-left]="lesson.isTargetLangLTR()" [class.text-right]="!lesson.isTargetLangLTR()" (click)="speak(speakingAnswerDiffString)">
            <ion-spinner name="dots" *ngIf="microphonePressed"></ion-spinner>
            <span *ngFor="let part of speakingAnswerDiff" [class.part-removed]="part.added" [class.part-added]="part.removed">{{part.value}}&nbsp;</span>
          </div>
          <br /><br /><br /><br />
          <br /><br /><br /><br />
        </div>

      </div>

      <div *ngIf="isType('OneCheck')">
        <ion-list radio-group [class.dir-rtl]="lesson.isClassRTL(!question.d.reverse)"
                              [class.dir-ltr]="lesson.isClassLTR(!question.d.reverse)" padding>
          <div *ngFor="let choice of choices; let i = index;">
            <div *ngIf="!isInContinueState || choice.isCorrect || choice.picked" class="check-option" (click)="oneChecked(i)"
                  [class.option-correct]="wasCorrect && choice.picked"
                  [class.option-confuse]="wasWrong && choice.isCorrect"
                  [class.option-wrong]="wasWrong && choice.picked">
              <ion-item text-wrap no-lines>
                <ion-label [ngStyle]="{'color': wasWrong && choice.picked ? '#d7d7d7' : ''}">{{choice.text}}</ion-label>
                <ion-radio value="{{choice.text}}" (click)="oneChecked(i)" id="radio-{{i}}" *ngIf="!isInContinueState"></ion-radio>
              </ion-item>
            </div>
          </div>
        </ion-list>
      </div>

      <div *ngIf="isType('MultiSelect')">
        <div class="answer-background" id="answer-background">
          <div [class.dir-rtl]="lesson.isClassRTL(!question.d.reverse)" padding
               [class.dir-ltr]="lesson.isClassLTR(!question.d.reverse)">
            <span class="answer" *ngFor="let chosen of chosens; let i = index;" (click)="moveBackToOptions(chosen)">
              <button class="{{chosen.class}} answer-contents" id="chosen-{{i}}">{{chosen.text}}</button>
            </span>
          </div>
        </div>
        <div [class.dir-rtl]="lesson.isClassRTL(!question.d.reverse)" padding
             [class.dir-ltr]="lesson.isClassLTR(!question.d.reverse)" id="optionsContainer">
          <span class="answer answer-container" *ngFor="let option of options; let i = index;" id="option-{{i}}">
            <button (click)="moveToChosen(option)" [disabled]="option.class === 'option-selected'" class="answer-contents {{option.class}}">{{option.text}}</button>
          </span>
        </div>
      </div>

      <div *ngIf="isType('Speaking')">
        <div class="answer-background dir-ltr" id="answer-background">
          <div  padding>
          <ion-spinner name="dots" *ngIf="microphonePressed"></ion-spinner>
            <div *ngIf="speakingAnswerDiff">
              <span *ngFor="let part of speakingAnswerDiff" [class.part-removed]="part.added" [class.part-added]="part.removed">{{part.value}}&nbsp;</span>
            </div>
          </div>
        </div>
        <a *ngIf="isType('Speaking')" (click)="skipSpeakingQuestions()" style="color:gray">{{'SKIP_MICROPHONE_QUESTIONS_FOR_NOW' | translate}}</a>
        <ion-fab center bottom large>
          <button ion-fab large color="{{microphonePressed ? 'danger' : 'primary'}}"
            (touchstart)="microphoneDown($event)" [disabled]="isChecking" id="speakingButton">
            <ion-icon name="microphone"></ion-icon>
          </button>
        </ion-fab>
      </div>

      <div *ngIf="isType('Writing')" class="answer-background" style="padding: 8px">
        <input type="text" *ngIf="!writingAnswerDiff" [(ngModel)]="writingAnswer" class="answer-background"
              [class.dir-rtl]="lesson.isClassRTL(!question.d.reverse)" (keyup.enter)="check()"
              [class.dir-ltr]="lesson.isClassLTR(!question.d.reverse)" #writingAnswerTextarea
        style="width: 100%" rows = "1" autofocus placeholder="{{typeHere | translate}}"/>
        <div *ngIf="typeHere === 'TYPE_HERE_DE' && !writingAnswerDiff" class="dir-ltr">
          <button ion-button clear class="special-chars-button" (click)="addCharToWritingAnswer('ä')">ä</button>
          <button ion-button clear class="special-chars-button" (click)="addCharToWritingAnswer('ö')">ö</button>
          <button ion-button clear class="special-chars-button" (click)="addCharToWritingAnswer('ü')">ü</button>
          <button ion-button clear class="special-chars-button" (click)="addCharToWritingAnswer('ß')">ß</button>
          <button ion-button clear class="special-chars-button" (click)="addCharToWritingAnswer('Ä')">Ä</button>
          <button ion-button clear class="special-chars-button" (click)="addCharToWritingAnswer('Ö')">Ö</button>
          <button ion-button clear class="special-chars-button" (click)="addCharToWritingAnswer('Ü')">Ü</button>
        </div>
        <div *ngIf="writingAnswerDiff" (click)="speak(writingAnswerDiffString)" class="answer-background"
          [class.dir-rtl]="lesson.isClassRTL(!question.d.reverse)"
          [class.dir-ltr]="lesson.isClassLTR(!question.d.reverse)">
          <span *ngFor="let part of writingAnswerDiff" [class.part-removed]="part.added" [class.part-added]="part.removed">{{part.value}}&nbsp;</span>
        </div>
      </div>

      <div *ngIf="isType('TwoPicture')">
        <ion-grid text-center>
          <ion-row (click)="twoPictureSelected(0)" text-center
                   [class.alert-warning]="question.d.options[0].answered  && !wasCorrect && !wasWrong"
                   [class.alert-error]="question.d.options[0].answered  && wasWrong"
                   [class.alert-success]="question.d.options[0].answered && wasCorrect"
                   *ngIf="(!wasWrong && !wasCorrect) || pictureCorrectIndex === 0 || question.d.options[0].answered">
            <ion-col col-3></ion-col>
            <ion-col col-6>
              <div class="relative-flex-1" id="twoPicture-0">
                <img [src]="resolveImageUrl(question.d.options[0].name)" class="z_index_0"/>
                <button ion-button full small clear color="dark">{{question.pictureLabel(0)}}</button>
              </div>
            </ion-col>
            <ion-col col-3></ion-col>
          </ion-row>
          <ion-row (click)="twoPictureSelected(1)" text-center
                   [class.alert-warning]="question.d.options[1].answered  && !wasCorrect && !wasWrong"
                   [class.alert-error]="question.d.options[1].answered  && wasWrong"
                   [class.alert-success]="question.d.options[1].answered && wasCorrect"
                   *ngIf="(!wasWrong && !wasCorrect) || pictureCorrectIndex === 1 || question.d.options[1].answered">
            <ion-col col-3></ion-col>
            <ion-col col-6>
              <div class="relative-flex-1" id="twoPicture-1">
                <img [src]="resolveImageUrl(question.d.options[1].name)" class="z_index_0"/>
                <button ion-button full small clear color="dark">{{question.pictureLabel(1)}}</button>
              </div>
            </ion-col>
            <ion-col col-3></ion-col>

          </ion-row>
        </ion-grid>
      </div>

      <div *ngIf="isType('FourPicture')">
        <ion-grid text-center>
          <ion-row text-center>
            <ion-col col-6 (click)="fourPictureSelected(0)"
                    [class.alert-warning]="question.d.options[0].answered  && !wasCorrect && !wasWrong"
                    [class.alert-error]="question.d.options[0].answered  && wasWrong"
                    [class.alert-success]="question.d.options[0].answered && wasCorrect"
                    *ngIf="(!wasWrong && !wasCorrect) || pictureCorrectIndex === 0 || question.d.options[0].answered">
              <div class="relative-flex-1" id="fourPicture-0">
                <img [src]="resolveImageUrl(question.d.options[0].name)" class="z_index_0"/>
                <button ion-button full small clear color="dark">{{question.pictureLabel(0)}}</button>
              </div>
            </ion-col>
            <ion-col col-6 (click)="fourPictureSelected(1)"
                    [class.alert-warning]="question.d.options[1].answered  && !wasCorrect && !wasWrong"
                    [class.alert-error]="question.d.options[1].answered  && wasWrong"
                    [class.alert-success]="question.d.options[1].answered && wasCorrect"
                    *ngIf="(!wasWrong && !wasCorrect) || pictureCorrectIndex === 1 || question.d.options[1].answered">
              <div class="relative-flex-1" id="fourPicture-1">
                <img [src]="resolveImageUrl(question.d.options[1].name)" class="z_index_0"/>
                <button ion-button full small clear color="dark">{{question.pictureLabel(1)}}</button>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6 (click)="fourPictureSelected(2)"
                    [class.alert-warning]="question.d.options[2].answered  && !wasCorrect && !wasWrong"
                    [class.alert-error]="question.d.options[2].answered  && wasWrong"
                    [class.alert-success]="question.d.options[2].answered && wasCorrect"
                    *ngIf="(!wasWrong && !wasCorrect) || pictureCorrectIndex === 2  || question.d.options[2].answered">
              <div class="relative-flex-1" id="fourPicture-2">
                <img [src]="resolveImageUrl(question.d.options[2].name)" class="z_index_0"/>
                <button ion-button full small clear color="dark">{{question.pictureLabel(2)}}</button>
              </div>
            </ion-col>
            <ion-col col-6 (click)="fourPictureSelected(3)"
                    [class.alert-warning]="question.d.options[3].answered  && !wasCorrect && !wasWrong"
                    [class.alert-error]="question.d.options[3].answered  && wasWrong"
                    [class.alert-success]="question.d.options[3].answered && wasCorrect"
                    *ngIf="(!wasWrong && !wasCorrect) || pictureCorrectIndex === 3  || question.d.options[3].answered">
              <div class="relative-flex-1" id="fourPicture-3">
                <img [src]="resolveImageUrl(question.d.options[3].name)" class="z_index_0"/>
                <button ion-button full small clear color="dark">{{question.pictureLabel(3)}}</button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </div>
    <div text-center class="question-buttons">
      <button ion-button full large color="secondary"
        *ngIf="isNotTypes(['Speaking', 'Conversation', 'Words', 'Writing']) && !wasWrong && !wasAlmostCorrect && !isChecking"
        [disabled]="!isAnswered()" (click)="check()" id="checkButton">
        {{'CHECK' | translate}}
      </button>
      <ion-spinner [hidden]="!isInContinueState || wasWrong || wasAlmostCorrect" color="primary"
      style="position:absolute; bottom: 1em; z-index: 10;"></ion-spinner>
      <button ion-button full large color="secondary"
        *ngIf="isNotTypes(['Conversation']) && (wasWrong || wasCorrect)" (click)="continue()" id="continueButton">
        {{'CONTINUE' | translate}}
      </button>
    </div>
  </div>
  <ion-fab center bottom large *ngIf="isType('Conversation')">
    <button ion-fab large color="{{microphonePressed ? 'danger' : 'primary'}}"
      (touchstart)="microphoneDown($event)" [disabled]="isChecking" id="speakingButton">
      <ion-icon name="microphone"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab end bottom large *ngIf="isType('Conversation') && (wasWrong || wasCorrect)">
    <button ion-fab large color="secondary" (click)="continue()">
      <ion-icon name="play"></ion-icon>
    </button>
  </ion-fab>
</ion-content>