page-home {

ion-fab button[ion-fab] {
   background-color: transparent;
}

.toolbar {
  background-color: #f4f4f4;
}

.toolbar-md {
  min-height: 50px;
}

.pin-image {
  background-image: url(https://mars.webebook.org/static/roo/img/pins@2x-4d59d12471aa0f848148c377dbc46236.png);
  background-size: 500% 100%;
  background-repeat: no-repeat
}

#pin-18 .pin-image {
  background-position: 25% 0
}

#pin-19 .pin-image {
  background-position: 50% 0
}

#pin-20 .pin-image {
  background-position: 75% 0
}

#pin-21 .pin-image {
  background-position: 100% 0
}

#pin-daily .pin-image, .scrollbar .tab.dialogue .icon {
  background-position: 0 0
}

.pin-image-photo {
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 89.70976%;
  height: 67.19368%;
  top: 3.952569169960474%;
  border-radius: 50%
}

#pin-1 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_1@2x-5a1ea04fa721d267565db3b7df2b02de.jpg)
}

#pin-2 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_2@2x-e1b2f09883dfdf8e6d8b43d872c519fb.jpg)
}

#pin-3 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_3@2x-87c12cf1692883ffb23629352de1004f.jpg)
}

#pin-4 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_4@2x-3ed333ec5c3f3183c4f702133f10061d.jpg)
}

#pin-5 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_5@2x-663bb53bdc43e57ca839a1f809dbac38.jpg)
}

#pin-6 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_6@2x-8ced389343fa2d2dc6d4963997ecb89a.jpg)
}

#pin-7 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_7@2x-891a4bd05cad618695823e243ca8427d.jpg)
}

#pin-8 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_8@2x-9294bf8d3acba19f8390ae1b15980fc5.jpg)
}

#pin-9 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_9@2x-1b0d10991ba8197e92d09672430c0153.jpg)
}

#pin-10 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_10@2x-8055b3e5e00e029e00d8d47cc5d14b67.jpg)
}

#pin-11 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_11@2x-6a36c17c34e576cc9cb3f7babc906648.jpg)
}

#pin-12 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_12@2x-8404f7c1af6f976e038ebe0d7e2b0b5e.jpg)
}

#pin-13 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_13@2x-94848c9a06224fc024e242f35a965c69.jpg)
}

#pin-14 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_14@2x-6288ed0a99ac6ec8bfc83af220363514.jpg)
}

#pin-15 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_15@2x-272eb2b08dbbfef5be02b6d85d313d61.jpg)
}

#pin-16 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_16@2x-cfde093baf249b142435852ff7373007.jpg)
}

#pin-17 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_17@2x-bce6883e5625f376c39b5be1d2eeefb1.jpg)
}

#pin-18 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_18@2x-e0337f3ba412c0c210f1dce2300bd075.jpg)
}

#pin-19 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_19@2x-29125309562e80f220c0e61090f54c7b.jpg)
}

#pin-20 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_20@2x-92031d54c1bdeb527b58062ef1dcf5d6.jpg)
}

#pin-21 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_21@2x-0d0ff3cc098c0c5efdcda88256efdae6.jpg)
}

#pin-22 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_22@2x-06316a6e1a6c2cc06fed5f0aece6b54f.jpg)
}

#pin-23 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_23@2x-b2a9d4501f9d10364112b794ebe62fdb.jpg)
}

#pin-24 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_24@2x-492461bfbfe38fd2564945a0b99afa5c.jpg)
}

#pin-25 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_25@2x-b4bb10254cb4dcd03f2836c416547b20.jpg)
}

#pin-26 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_26@2x-12a76f9648028ae6320105d7db4ac7bf.jpg)
}

#pin-27 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_27@2x-0fdfa4090e1d086fafb53bda5b0488fb.jpg)
}

#pin-28 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_28@2x-350ab9037d54f7eafaf150addc8b7bb1.jpg)
}

#pin-29 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_29@2x-835da00698bab9f51a35b54cf52b65cd.jpg)
}

#pin-30 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_30@2x-8acc7c4350f02d39f40b890016f84ba1.jpg)
}

#pin-31 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_31@2x-05ff924866dd617d672b56d313aec26f.jpg)
}

#pin-32 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_32@2x-6831f1ffbfee991baff27c9c4badf705.jpg)
}

#pin-33 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_33@2x-2e1802f34245e5a9313e0e7e48dc2b0f.jpg)
}

#pin-34 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_34@2x-95f9fd5275f855550b8ad85f614da048.jpg)
}

#pin-35 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_35@2x-431ee8e5980f91741de0609a9fc409c1.jpg)
}

#pin-36 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_36@2x-4ea8bbf1f7643b94e56140780efbf56e.jpg)
}

#pin-37 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_37@2x-f91ec8dc704a935aafa464e2e37a6e28.jpg)
}

#pin-38 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_38@2x-e95373f11176d7924051bb580dcc1724.jpg)
}

#pin-39 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_39@2x-1e8efdd934d32f8934a60e3a2045c1f6.jpg)
}

#pin-40 .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_40@2x-800c3b679c2b747a0b970e461839fd1d.jpg)
}

#pin-daily .pin-image {
  background-image: url(https://mars.webebook.org/static/roo/img/pin_daily@2x-a5193f59af6ff09d6d9acdaff3239724.png);
  background-size: 100% 100%
}

#pin-daily .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_daily@2x-d4a97ecb4b6f769d5c3453730c41b2f9.jpg)
}

#pin-bot .pin-image {
  background-image: url(https://mars.webebook.org/static/roo/img/pin_bot@2x-1ae13bba6aa8e8005cec4d6fe0742ec0.png);
  background-size: 100% 100%
}

#pin-bot .pin-image-photo {
  background-image: url(https://mars.webebook.org/static/roo/img/category_bot@2x-bd505b5de7c5a7b72f5cca4b676546ca.jpg)
}

.map-normal #pin-1 {
  left: 2.50296%;
  top: 17.01649%
}

.map-normal #pin-daily {
  left: 6.42012%;
  top: 16.7916%
}

.map-normal #pin-bot {
  left: 2.44379%;
  top: 50.67466%
}

.map-normal .bot-dot {
  left: 3.56213%;
  top: 72.86357%
}

.map-normal #pin-2 {
  left: 11.59172%;
  top: 10.56972%
}

.map-normal #pin-3 {
  left: 15.13018%;
  top: 24.81259%
}

.map-normal #pin-4 {
  left: 11.15385%;
  top: 54.72264%
}

.map-normal #pin-5 {
  left: 28.90533%;
  top: 53.22339%
}

.map-normal #pin-6 {
  left: 15.29586%;
  top: 56.74663%
}

.map-normal #pin-7 {
  left: 20.76331%;
  top: 19.41529%
}

.map-normal #pin-8 {
  left: 24.5858%;
  top: 10.41979%
}

.map-normal #pin-9 {
  left: 19.92308%;
  top: 52.62369%
}

.map-normal #pin-10 {
  left: 24.34911%;
  top: 50.22489%
}

.map-normal #pin-11 {
  left: 37.65089%;
  top: 11.3943%
}

.map-normal #pin-12 {
  left: 41.21302%;
  top: 21.88906%
}

.map-normal #pin-13 {
  left: 37.39053%;
  top: 43.02849%
}

.map-normal #pin-14 {
  left: 42.21893%;
  top: 52.9985%
}

.map-normal #pin-15 {
  left: 47.16568%;
  top: 52.32384%
}

.map-normal #pin-16 {
  left: 46.70414%;
  top: 11.84408%
}

.map-normal #pin-17 {
  left: 51.16568%;
  top: 21.36432%
}

.map-normal #pin-18 {
  left: 91.67456%;
  top: 10.41979%
}

.map-normal #pin-19 {
  left: 94.78698%;
  top: 19.71514%
}

.map-normal #pin-20 {
  left: 91.15385%;
  top: 43.77811%
}

.map-normal #pin-21 {
  left: 95%;
  top: 54.04798%
}

.map-normal #pin-22 {
  left: 6.42012%;
  top: 56.5967%
}

.map-normal #pin-23 {
  left: 33.97041%;
  top: 48.35082%
}

.map-normal #pin-24 {
  left: 28.89349%;
  top: 18.44078%
}

.map-normal #pin-25 {
  left: 32.50296%;
  top: 14.61769%
}

.map-normal #pin-26 {
  left: 55.97041%;
  top: 10.41979%
}

.map-normal #pin-27 {
  left: 59.74556%;
  top: 20.23988%
}

.map-normal #pin-28 {
  left: 56.25444%;
  top: 56.89655%
}

.map-normal #pin-29 {
  left: 59.87574%;
  top: 51.04948%
}

.map-normal #pin-30 {
  left: 64.27811%;
  top: 49.85007%
}

.map-normal #pin-31 {
  left: 65.40237%;
  top: 19.34033%
}

.map-normal #pin-32 {
  left: 68.63314%;
  top: 10.49475%
}

.map-normal #pin-33 {
  left: 68.98817%;
  top: 45.65217%
}

.map-normal #pin-34 {
  left: 74.01775%;
  top: 51.49925%
}

.map-normal #pin-35 {
  left: 77.40237%;
  top: 48.87556%
}

.map-normal #pin-36 {
  left: 72.73964%;
  top: 11.46927%
}

.map-normal #pin-37 {
  left: 77.47337%;
  top: 15.44228%
}

.map-normal #pin-38 {
  left: 82.23077%;
  top: 11.01949%
}

.map-normal #pin-39 {
  left: 86.38462%;
  top: 14.09295%
}

.map-normal #pin-40 {
  left: 82.28994%;
  top: 48.50075%
}

.map-webview #pin-1 {
  left: 2.50296%;
  top: 17.01649%
}

.map-webview #pin-daily {
  left: 6.42012%;
  top: 16.7916%
}

.map-webview #pin-bot {
  left: 2.44379%;
  top: 50.67466%
}

.map-webview .bot-dot {
  left: 3.56213%;
  top: 72.86357%
}

.map-webview #pin-2 {
  left: 11.59172%;
  top: 10.56972%
}

.map-webview #pin-3 {
  left: 15.13018%;
  top: 24.81259%
}

.map-webview #pin-4 {
  left: 11.15385%;
  top: 54.72264%
}

.map-webview #pin-5 {
  left: 28.90533%;
  top: 53.22339%
}

.map-webview #pin-6 {
  left: 15.29586%;
  top: 56.74663%
}

.map-webview #pin-7 {
  left: 20.76331%;
  top: 19.41529%
}

.map-webview #pin-8 {
  left: 24.5858%;
  top: 10.41979%
}

.map-webview #pin-9 {
  left: 19.92308%;
  top: 52.62369%
}

.map-webview #pin-10 {
  left: 24.34911%;
  top: 50.22489%
}

.map-webview #pin-11 {
  left: 37.65089%;
  top: 11.3943%
}

.map-webview #pin-12 {
  left: 41.21302%;
  top: 21.88906%
}

.map-webview #pin-13 {
  left: 37.39053%;
  top: 43.02849%
}

.map-webview #pin-14 {
  left: 42.21893%;
  top: 52.9985%
}

.map-webview #pin-15 {
  left: 47.16568%;
  top: 52.32384%
}

.map-webview #pin-16 {
  left: 46.70414%;
  top: 11.84408%
}

.map-webview #pin-17 {
  left: 51.16568%;
  top: 21.36432%
}

.map-webview #pin-18 {
  left: 91.67456%;
  top: 10.41979%
}

.map-webview #pin-19 {
  left: 94.78698%;
  top: 19.71514%
}

.map-webview #pin-20 {
  left: 91.15385%;
  top: 43.77811%
}

.map-webview #pin-21 {
  left: 95%;
  top: 54.04798%
}

.map-webview #pin-22 {
  left: 6.42012%;
  top: 56.5967%
}

.map-webview #pin-23 {
  left: 33.97041%;
  top: 48.35082%
}

.map-webview #pin-24 {
  left: 28.89349%;
  top: 18.44078%
}

.map-webview #pin-25 {
  left: 32.50296%;
  top: 14.61769%
}

.map-webview #pin-26 {
  left: 55.97041%;
  top: 10.41979%
}

.map-webview #pin-27 {
  left: 59.74556%;
  top: 20.23988%
}

.map-webview #pin-28 {
  left: 56.25444%;
  top: 56.89655%
}

.map-webview #pin-29 {
  left: 59.87574%;
  top: 51.04948%
}

.map-webview #pin-30 {
  left: 64.27811%;
  top: 49.85007%
}

.map-webview #pin-31 {
  left: 65.40237%;
  top: 19.34033%
}

.map-webview #pin-32 {
  left: 68.63314%;
  top: 10.49475%
}

.map-webview #pin-33 {
  left: 68.98817%;
  top: 45.65217%
}

.map-webview #pin-34 {
  left: 74.01775%;
  top: 51.49925%
}

.map-webview #pin-35 {
  left: 77.40237%;
  top: 48.87556%
}

.map-webview #pin-36 {
  left: 72.73964%;
  top: 11.46927%
}

.map-webview #pin-37 {
  left: 77.47337%;
  top: 15.44228%
}

.map-webview #pin-38 {
  left: 82.23077%;
  top: 11.01949%
}

.map-webview #pin-39 {
  left: 86.38462%;
  top: 14.09295%
}

.map-webview #pin-40 {
  left: 82.28994%;
  top: 48.50075%
}

#category-1 .bg, .category-bg-1 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-1, #lesson-1, #vocabulary-1, .category-bg-1-blurred, .dictionary-popover.category-1 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-2 .bg, .category-bg-2 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-2, #lesson-2, #vocabulary-2, .category-bg-2-blurred, .dictionary-popover.category-2 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-3 .bg, .category-bg-3 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-3, #lesson-3, #vocabulary-3, .category-bg-3-blurred, .dictionary-popover.category-3 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-4 .bg, .category-bg-4 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-4, #lesson-4, #vocabulary-4, .category-bg-4-blurred, .dictionary-popover.category-4 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-5 .bg, .category-bg-5 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-5, #lesson-5, #vocabulary-5, .category-bg-5-blurred, .dictionary-popover.category-5 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-6 .bg, .category-bg-6 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-6, #lesson-6, #vocabulary-6, .category-bg-6-blurred, .dictionary-popover.category-6 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-7 .bg, .category-bg-7 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-7, #lesson-7, #vocabulary-7, .category-bg-7-blurred, .dictionary-popover.category-7 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-8 .bg, .category-bg-8 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-8, #lesson-8, #vocabulary-8, .category-bg-8-blurred, .dictionary-popover.category-8 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-9 .bg, .category-bg-9 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-9, #lesson-9, #vocabulary-9, .category-bg-9-blurred, .dictionary-popover.category-9 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-10 .bg, .category-bg-10 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-10, #lesson-10, #vocabulary-10, .category-bg-10-blurred, .dictionary-popover.category-10 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-11 .bg, .category-bg-11 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-11, #lesson-11, #vocabulary-11, .category-bg-11-blurred, .dictionary-popover.category-11 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-12 .bg, .category-bg-12 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-12, #lesson-12, #vocabulary-12, .category-bg-12-blurred, .dictionary-popover.category-12 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-13 .bg, .category-bg-13 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-13, #lesson-13, #vocabulary-13, .category-bg-13-blurred, .dictionary-popover.category-13 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-14 .bg, .category-bg-14 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-14, #lesson-14, #vocabulary-14, .category-bg-14-blurred, .dictionary-popover.category-14 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-15 .bg, .category-bg-15 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-15, #lesson-15, #vocabulary-15, .category-bg-15-blurred, .dictionary-popover.category-15 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-16 .bg, .category-bg-16 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-16, #lesson-16, #vocabulary-16, .category-bg-16-blurred, .dictionary-popover.category-16 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-17 .bg, .category-bg-17 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-17, #lesson-17, #vocabulary-17, .category-bg-17-blurred, .dictionary-popover.category-17 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-18 .bg, .category-bg-18 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-18, #lesson-18, #vocabulary-18, .category-bg-18-blurred, .dictionary-popover.category-18 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-19 .bg, .category-bg-19 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-19, #lesson-19, #vocabulary-19, .category-bg-19-blurred, .dictionary-popover.category-19 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-20 .bg, .category-bg-20 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-20, #lesson-20, #vocabulary-20, .category-bg-20-blurred, .dictionary-popover.category-20 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-21 .bg, .category-bg-21 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-21, #lesson-21, #vocabulary-21, .category-bg-21-blurred, .dictionary-popover.category-21 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-22 .bg, .category-bg-22 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-22, #lesson-22, #vocabulary-22, .category-bg-22-blurred, .dictionary-popover.category-22 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-23 .bg, .category-bg-23 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-23, #lesson-23, #vocabulary-23, .category-bg-23-blurred, .dictionary-popover.category-23 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-24 .bg, .category-bg-24 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-24, #lesson-24, #vocabulary-24, .category-bg-24-blurred, .dictionary-popover.category-24 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-25 .bg, .category-bg-25 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-25, #lesson-25, #vocabulary-25, .category-bg-25-blurred, .dictionary-popover.category-25 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-26 .bg, .category-bg-26 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-26, #lesson-26, #vocabulary-26, .category-bg-26-blurred, .dictionary-popover.category-26 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-27 .bg, .category-bg-27 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-27, #lesson-27, #vocabulary-27, .category-bg-27-blurred, .dictionary-popover.category-27 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-28 .bg, .category-bg-28 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-28, #lesson-28, #vocabulary-28, .category-bg-28-blurred, .dictionary-popover.category-28 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-29 .bg, .category-bg-29 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-29, #lesson-29, #vocabulary-29, .category-bg-29-blurred, .dictionary-popover.category-29 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-30 .bg, .category-bg-30 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-30, #lesson-30, #vocabulary-30, .category-bg-30-blurred, .dictionary-popover.category-30 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-31 .bg, .category-bg-31 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-31, #lesson-31, #vocabulary-31, .category-bg-31-blurred, .dictionary-popover.category-31 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-32 .bg, .category-bg-32 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-32, #lesson-32, #vocabulary-32, .category-bg-32-blurred, .dictionary-popover.category-32 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-33 .bg, .category-bg-33 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-33, #lesson-33, #vocabulary-33, .category-bg-33-blurred, .dictionary-popover.category-33 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-34 .bg, .category-bg-34 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-34, #lesson-34, #vocabulary-34, .category-bg-34-blurred, .dictionary-popover.category-34 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-35 .bg, .category-bg-35 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-35, #lesson-35, #vocabulary-35, .category-bg-35-blurred, .dictionary-popover.category-35 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-36 .bg, .category-bg-36 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-36, #lesson-36, #vocabulary-36, .category-bg-36-blurred, .dictionary-popover.category-36 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-37 .bg, .category-bg-37 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-37, #lesson-37, #vocabulary-37, .category-bg-37-blurred, .dictionary-popover.category-37 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-38 .bg, .category-bg-38 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-38, #lesson-38, #vocabulary-38, .category-bg-38-blurred, .dictionary-popover.category-38 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-39 .bg, .category-bg-39 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-39, #lesson-39, #vocabulary-39, .category-bg-39-blurred, .dictionary-popover.category-39 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

#category-40 .bg, .category-bg-40 {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-40, #lesson-40, #vocabulary-40, .category-bg-40-blurred, .dictionary-popover.category-40 .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

.bot-bg, .category-bg-daily, .category-bg-monthly, .category-bg-tutorial, .category-bg-weekly {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1-468c23c5c88933950b2f788dbdff268e.jpg)
}

#dialogue-tutorial, #lesson-daily, #lesson-monthly, #lesson-tutorial, #lesson-weekly, .dictionary-popover.category-daily .translations, .dictionary-popover.category-monthly .translations, .dictionary-popover.category-tutorial .translations, .dictionary-popover.category-weekly .translations {
  background-image: url(https://mars.webebook.org/static/roo/img/bg_category_1_blurred-c48a2f455268371f942de9fe1ace6ba2.jpg)
}

.scrollbar .tab .icon {
  background-size: 300% 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 25px;
  height: 25px;
  background-image: url(https://mars.webebook.org/static/roo/img/tabs@2x-1f5d5488409111d9c368900f8bec4be2.png)
}

.scrollbar .tab.fill .icon {
  background-image: url(https://mars.webebook.org/static/roo/img/tabs_fill@2x-2b3366473343bf206598baacdd364da4.png)
}

.scrollbar .tab.disabled, .scrollbar .tab:not(.fill) {
  opacity: .65
}

.scrollbar .tab.lesson .icon {
  background-position: 50% 0
}

.scrollbar .tab.vocabulary .icon {
  background-position: 100% 0
}

.categories-index .floating-buttons .button:not(.is-loading), .categories-index .nav-btn, .categories-index .pin-image-photo a.pin-locked, .category-view .bg {
  background-repeat: no-repeat;
  background-position: center center
}

.categories-index {
  width: 100%;
  height: 100%
}

.categories-index>.logo {
  position: absolute;
  bottom: 10px;
  right: 40px;
  z-index: 20
}

.categories-index .content.with-tab-bar {
  padding-bottom: 0
}

.categories-index .floating-buttons {
  position: absolute;
  right: 5px;
  top: 60px;
  text-align: center;
  z-index: 20
}

.categories-index .floating-buttons .button {
  display: block;
  width: 42px;
  height: 42px;
  cursor: pointer;
  position: relative
}

.categories-index .floating-buttons .button:not(.is-loading) {
  box-shadow: -3px 3px 5px 0 rgba(0, 0, 0, .1);
  border-radius: 50%
}

.categories-index .floating-buttons .button:not(:last-child) {
  margin-bottom: 10px
}

.categories-index .floating-buttons .button .new-label {
  margin-top: -1px;
  top: 0;
  right: 50%
}

.categories-index .floating-buttons .practice-button {
  background-color: #f86b40;
  border: 1px solid #fdcbbc;
  background-image: url(https://mars.webebook.org/static/roo/img/practice_icon@2x-ef94f8508f5552b89f473935ee44c2f5.png);
  background-size: 27px 25px
}

.categories-index .floating-buttons .courses-button:not(.is-loading) {
  background-color: #00507f;
  border: 1px solid #a6c2d2;
  background-image: url(https://mars.webebook.org/static/roo/img/more_courses_icon@2x-f11a671ed21fe8615f6b5e4218a49e72.png);
  background-size: 29px 29px
}

.categories-index .map-normal, .categories-index .map-webview {
  background-image: url(https://mars.webebook.org/static/roo/img/map-webview-2@2x-ba48d85ecf5b168d820c72729c8bccac.jpg);
}

.categories-index .map-container-main {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #0c141f
}

.categories-index .map-wrapper {
  width: 100%;
  height: 100%
}

.categories-index .map-inner {
  position: relative;
  width: auto;
  height: 100%;
  will-change: transform;
  z-index: 1;
  background-size: 100% 100%;
  background-repeat: no-repeat
}

.categories-index .map-webview .pin {
  width: 2.66272%;
  height: 22.48876%;
  position: absolute
}

.categories-index .map-webview #pin-bot, .categories-index .map-webview #pin-daily {
  width: 2.66272%;
  height: 22.48876%
}

.categories-index .map-webview .bot-dot {
  width: .42604%;
  height: 1.34933%
}

.categories-index .map-normal .pin {
  width: 2.66272%;
  height: 22.48876%;
  position: absolute
}

.categories-index .map-normal #pin-bot, .categories-index .map-normal #pin-daily {
  width: 2.66272%;
  height: 22.48876%
}

.categories-index .map-normal .bot-dot {
  width: .42604%;
  height: 1.34933%
}

.categories-index .nav-btn {
  width: 44px;
  height: 44px;
  position: absolute;
  bottom: 66px;
  z-index: 2;
  display: block;
  background-image: url(https://mars.webebook.org/static/roo/img/left-arrow@2x-e9582dd78e992bcf971cbf91317f4d48.png);
  background-size: 13px 24px
}

.categories-index .nav-btn.back {
  left: 10px
}

.categories-index .nav-btn.forward {
  right: 10px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}

.categories-index .pin-image-photo {
  z-index: 10
}

.categories-index .pin-image-photo a {
  display: block;
  position: relative;
  margin: 0 auto;
  z-index: 14;
  text-decoration: none;
  width: 100%;
  height: 100%;
  border-radius: 50%
}

.categories-index .pin-image-photo a.pin-locked {
  background-color: rgba(0, 0, 0, .4);
  background-image: url(https://mars.webebook.org/static/roo/img/premium-locked@2x-de5dbc50c275ac54bfcd5a86b1f175e0.png);
  background-size: 50% 50%
}

.categories-index .pin-image-photo .loader {
  width: 2em;
  height: 2em;
  line-height: 1;
  z-index: 16
}

.categories-index .pin:not(#pin-daily) .pin-image-photo .loader-center {
  display: none
}

.categories-index #pin-daily .date span.day, .categories-index .pin.pin-loading:not(#pin-daily) .pin-image-photo .loader-center {
  display: block
}

.categories-index .pin-image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 12;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  pointer-events: none;
  -ms-touch-action: none;
  touch-action: none
}

.categories-index .pin-image .tutorial-hand {
  display: block;
  position: absolute;
  top: 40%;
  left: 40%;
  pointer-events: none
}

.categories-index #pin-daily .date, .categories-index .pin .completed {
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  text-align: center;
  right: 0
}

.categories-index #pin-daily .date {
  font-size: .9em;
  top: 72%;
  z-index: 1
}

.categories-index .bot-dot {
  position: absolute;
  background-image: url(https://mars.webebook.org/static/roo/img/bot_dot@2x-4d0efac8cb1d3df2c9dae76f1594cbe9.png);
  background-size: 100% 100%
}

@media (min-height:667px) and (max-height:1024px) and (orientation:portrait) {
  .categories-index .pin {
    font-size: 2.54872vh
  }
}

@media (min-height:1025px) {
  .categories-index .pin {
    font-size: 1.53em
  }
}

.categories-index .pin .completed {
  margin: 0 auto;
  font-size: .9em;
  top: 79%
}

.categories-index .pin .title {
  position: absolute;
  margin: 0 auto;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 109%
}

.categories-index .pin .title span {
  cursor: pointer
}

.new-label {
  position: absolute;
  padding: 2px 4px;
  border-radius: 3px;
  background-color: #bf0101;
  color: #fffafa;
  pointer-events: none
}

.categories-index .pin .new-label {
  top: 10%;
  left: 72%;
  z-index: 15
}

/* Fix for width:auto */
.scroll-zoom-wrapper {
  height:100% !important;
}

.categories-index,
.content,
.map-container-main,
.map-container {
  height:100% !important;
  overflow-x:auto !important;
}

ion-content.js-scroll > .scroll-content {
  position: inherit;
  overflow-y: hidden;
  overflow-x: auto;
}

.map .pin .title,
.map .pin .completed {
  color: #fffafa;
}

}
