<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>
        <span class="app-name" [class.app-name-rtl]="platform.isRTL">{{'APP_NAME' | translate}}</span>
    </ion-title>
    <ion-buttons end *ngIf="platform.isRTL">
      <button ion-button icon-only clear color="dark" menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons left *ngIf="!platform.isRTL">
      <button ion-button icon-only clear color="dark" menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="!platform.isRTL">
      <button ion-button icon-only clear *ngIf="showRetryButton" (click)="fetchCategories()">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <button ion-button icon-only clear *ngIf="showUpgradeButton" (click)="upgrade()" color="danger">
        <ion-icon name="appstore"></ion-icon>
      </button>
      <button ion-button icon-only clear *ngIf="showHelpButton" (click)="showHelp()" color="secondary">
        <ion-icon name="help-buoy"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons left *ngIf="platform.isRTL">
      <button ion-button icon-only clear *ngIf="showRetryButton" (click)="fetchCategories()">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <button ion-button icon-only clear *ngIf="showUpgradeButton" (click)="upgrade()" color="danger">
        <ion-icon name="appstore"></ion-icon>
      </button>
      <button ion-button icon-only clear  *ngIf="showHelpButton" (click)="showHelp()" color="secondary">
        <ion-icon name="help-buoy"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="force-ltr" fullscreen="true">
  <!-- <ion-scroll style="width: auto; height: 100%" class="force-ltr" scrollX="true" scrollY="false" zoom="false"> -->
    <div class="categories-index">
    <div class="content">
    <div id="map-container-main" class="map-container-main">
    <div class="map-container map-wrapper">
    <div class="map map-inner map-webview touch-action" id="map-webview" #panel
      [style.width.px]="mapWidth" style="height:100%; overflow-x:scroll; display:inline-block;">

      <!-- <div id="pin-daily" class="pin">
        <div class="pin-image-photo">
          <a (click)="dailyLesson()">
          </a>
        </div>
        <div class="pin-image">
          <div class="date">
            <span class="day">{{'SOON_LABEL' | translate}}</span>
          </div>
        </div>
        <div class="title">
          <span>
            {{'DAILY_PRACTICE' | translate}}
          </span>
        </div>
      </div>

      <div id="pin-bot" class="pin">
        <div class="pin-image-photo">
          <a (click)="dailyLesson()"></a>
          <div class="loader-center">
            <div class="loader"></div>
          </div>
        </div>
        <div class="pin-image">
           <div class="completed">
             <span>{{'SOON_LABEL' | translate}}</span>
           </div>
        </div>
        <div class="title">
          <span>{{'CHAT_BOT' | translate}}</span>
        </div>
      </div>
      <div class="bot-dot">
      </div> -->

      <div class="pin" id="pin-{{i+1}}" *ngFor="let category of categories; let i = index; trackBy uuid;">
       <div class="pin-image-photo">
         <a (click)="categoryLesson(category)" [class.pin-locked]="category.forSell && !account.member">
         </a>
         <div class="loader-center">
           <div class="loader">
           </div>
         </div>
       </div>
       <div class="pin-image">
         <div class="completed">
           <span *ngIf="!category.commingSoon"><span [innerHtml]="doneLessons(category)"></span> / {{category.nol}}</span>
           <span *ngIf="category.commingSoon">{{'SOON_LABEL' | translate}}</span>
         </div>
       </div>
       <div class="title">
         <span>{{category.title}}</span>
       </div>
       <div *ngIf="category.cameNew" class="new-label">{{'NEW_LABEL' | translate}}</div>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- <ion-fab right bottom>
      <button ion-fab color="dark" (click)="scrollToTheRight()">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-fab> -->
  <!-- </ion-scroll> -->
</ion-content>
