<ion-header>
  <ion-toolbar>
    <ion-segment color="primary">
      <ion-segment-button [class.segment-activated]="section === 'stats'" (click)="sectionChanged('stats')">
        <ion-icon name="stats"></ion-icon>
        {{'STATS' | translate}}
      </ion-segment-button>
      <ion-segment-button [class.segment-activated]="section === 'rankMonth'" (click)="sectionChanged('rankMonth')">
        <ion-icon name="medal"></ion-icon>
        {{'RANK' | translate}} {{currentMonth | translate}}
      </ion-segment-button>
      <ion-segment-button [class.segment-activated]="section === 'rankEver'" (click)="sectionChanged('rankEver')">
        <ion-icon name="infinite"></ion-icon>
        {{'RANK' | translate}} {{'SINCE_FIRST' | translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-spinner *ngIf="inProgress && isAuthenticated()"></ion-spinner>
  <div *ngIf="!isAuthenticated()" text-center>
    <h3>{{'PLEASE_LOGIN_FIRST' | translate}}</h3>
    <button ion-button clear large (click)="login()">
      <ion-icon name="log-in"></ion-icon>
      <span style="padding-left: 16px; padding-right: 16px;"> {{'LOGIN_BUTTON' | translate}} </span>
    </button>
  </div>
  <ion-grid text-center *ngIf="isAuthenticated() && section === 'stats'">
    <ion-row>
      <ion-col>
        <span>{{'TOTAL' | translate}} {{total}}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-1>
        <ion-icon name="ribbon" small></ion-icon>
        {{progressLevelFrom}}
      </ion-col>
      <ion-col>
        <progress max="{{progressLevelMax}}" value="{{progressLevelValue}}" class="level-progress"></progress>
      </ion-col>
      <ion-col col-1>
        <ion-icon name="ribbon" large></ion-icon>
        {{progressLevelTo}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <canvas baseChart width="100%" height="100%" *ngIf="!inProgress"
          [datasets]="datasets"
          [labels]="labels"
          [options]="chartOptions"
          [colors]="lineChartColors"
          [chartType]="'line'"
          >
        </canvas>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list text-center *ngIf="isAuthenticated() && section === 'rankMonth'">
    <ion-item *ngFor="let tm of topMonthMembers; let i = index;">
      <ion-avatar item-start>{{tm.rank}}</ion-avatar>
      <h2>{{tm.dname}}</h2>
      <p item-end>{{tm.total}}</p>
    </ion-item>
  </ion-list>

  <ion-list text-center *ngIf="isAuthenticated() && section === 'rankEver'">
    <ion-item *ngFor="let tm of topEverMembers; let i = index;">
      <ion-avatar item-start>{{tm.rank}}</ion-avatar>
      <h2>{{tm.dname}}</h2>
      <p item-end>{{tm.total}}</p>
    </ion-item>
  </ion-list>

</ion-content>