<ion-header>
  <ion-navbar>
    <ion-title>{{'STATS' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center>
  <ion-spinner *ngIf="inProgress && isAuthenticated()"></ion-spinner>
  <div *ngIf="!isAuthenticated()" text-center>
    <h3>{{'PLEASE_LOGIN_FIRST' | translate}}</h3>
    <button ion-button clear large (click)="login()">
      <ion-icon name="log-in"></ion-icon>
      <span style="padding-left: 16px; padding-right: 16px;"> {{'LOGIN_BUTTON' | translate}} </span>
    </button>
  </div>
  <ion-grid text-center *ngIf="isAuthenticated()">
    <ion-row>
      <ion-col>
        <span>{{'TOTAL' | translate}} {{total}}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-1>
        <ion-icon name="ribbon" small></ion-icon>
        {{progressLevelFrom}}
      </ion-col>
      <ion-col>
        <progress max="{{progressLevelMax}}" value="{{progressLevelValue}}" class="level-progress"></progress>
      </ion-col>
      <ion-col col-1>
        <ion-icon name="ribbon" large></ion-icon>
        {{progressLevelTo}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <canvas baseChart width="100%" height="100%" *ngIf="!inProgress"
          [datasets]="datasets"
          [labels]="labels"
          [options]="chartOptions"
          [colors]="lineChartColors"
          [chartType]="'line'"
          >
        </canvas>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>