page-lesson-failure {

  .back-image {
    height: 100%;
    background-image: url(https://mars.webebook.org/static/roo/img/lesson-failed-background@2x-c26469c68e6d9d0999a650919fbb2899.jpg);
    background-size: 352px 348px;
    background-position: center top;
    background-color: #416183;
    background-repeat: no-repeat;
  }

}