// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// introJs
// --------------------------------------------------
@import "introjs";

// Flag-icon-css
// --------------------------------------------------
@import "flag-icon";

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url("../assets/img/roo.png") no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .hipster {
    background: url("../assets/img/roo2x.png") no-repeat center top;
    background-size: contain;
  }
}

@font-face {
  font-family: Vazir;
  src: url('../assets/fonts/Vazir.eot');
  src: url('../assets/fonts/Vazir.eot?iefix') format('embedded-opentype'),
       url('../assets/fonts/Vazir.woff') format('woff'),
       url('../assets/fonts/Vazir.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('../assets/fonts/Vazir-Bold.eot');
  src: url('../assets/fonts/Vazir-Bold.eot?iefix') format('embedded-opentype'),
       url('../assets/fonts/Vazir-Bold.woff') format('woff'),
       url('../assets/fonts/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  src: url('../assets/fonts/Vazir-Light.eot');
  src: url('../assets/fonts/Vazir-Light.eot?iefix') format('embedded-opentype'),
       url('../assets/fonts/Vazir-Light.woff') format('woff'),
       url('../assets/fonts/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: UrwGothicL;
  src: url('../assets/fonts/urw-gothic-l-book.ttf') format('truetype');
  font-weight: normal;
}

/* Note: we only add this font-face to include roboto-reqular and roboto-medium into production apk*/
@font-face {
  font-family: RobotoRoo;
  src: url('../assets/fonts/roboto-reqular.woff') format('woff'),
       url('../assets/fonts/roboto-reqular.woff2') format('woff2'),
       url('../assets/fonts/roboto-reqular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: RobotoRoo;
  src: url('../assets/fonts/roboto-medium.woff') format('woff'),
       url('../assets/fonts/roboto-medium.woff2') format('woff2'),
       url('../assets/fonts/roboto-medium.ttf') format('truetype');
  font-weight: 300;
}

.roboto-roo-font {
  font-family: 'RobotoRoo';
}

.app-name {
  font-family: 'UrwGothicL';
  color: #387C2C;
}

.app-name-rtl {
  display: block;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  text-transform: lowercase;
}

.force-ltr {
  direction: ltr;
}

.bar-button-md {
  text-transform: none;
}

.row {
  align-items: center;
}

.dir-ltr {
  direction: ltr;
}

.dir-rtl {
  direction: rtl;
  font-family: 'Vazir';
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.z_index_0 {
  z-index: 0;
}

.width_100 {
  width: 100%;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  // color: #66cc33 !important;
  // background-color: #fffeef;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-error {
  // color: #ef4e3a !important;
  // background-color: #ffeeee;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-info {
  // color: #4a87ee !important;
  // background-color: #eeffff;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  // color: #8a6d3b !important;
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.check-option {
  border: 2px solid transparent;
  border-color: #d8d8d8;
  border-radius: 8px;
  margin-bottom: 20px;
}

.gold-back {
  background-color: color($colors, gold);
}

.silver-back {
  background-color: silver;
}

.blue-back {
  background-color: color($colors, primary);
}

.text-unclear {
   color: transparent;
   text-shadow: 0 0 16px rgba(0,0,0,0.8);
}

html[dir="rtl"] {
  .introjs-tooltipbuttons {
    text-align: left;
  }
  .introjs-skipbutton {
    margin-left: 5px;
  }
  .introjs-tooltip {
    direction: rtl;
  }
  .introjs-prevbutton {
    border: 1px solid #d4d4d4;
    border-left: none;
    -webkit-border-radius: 0 0.2em 0.2em 0;
    -moz-border-radius: 0 0.2em 0.2em 0;
    border-radius: 0 0.2em 0.2em 0;
  }
  .introjs-nextbutton {
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 0.2em 0 0 0.2em;
    -moz-border-radius: 0.2em 0 0 0.2em;
    border-radius: 0.2em 0 0 0.2em;
  }
}
