<ion-header>
    <ion-navbar>
        <ion-title text-wrap>
            <span>{{'Learn language smart!' | translate }}</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <span class="hipster"></span>
    <div text-center *ngIf="isTryingToLogin">
      <ion-spinner></ion-spinner>
    </div>
    <div *ngIf="!isTryingToLogin">
      <div>
          <button ion-button block large (click)="login()" class="login" [disabled]="isTryingToLogin">{{ 'LOGIN' | translate }}</button>
      </div>
      <div>
          <p></p>
          <p text-center>
            <a (click)="home()">
              {{'GUEST' | translate}}
            </a>
          </p>
      </div>
    </div>
</ion-content>
